@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@400;500&family=PT+Serif&family=Playfair+Display&family=Poppins:wght@200&family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prestitre {
    font-family: 'Oswald', sans-serif;
}
